<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" href="<%= require('./assets/icon.svg') %>" type="image/svg+xml" />
    <link rel="icon" href="<%= require('./assets/icon-light.png') %>" type="image/png" media="(prefers-color-scheme: dark)" />
    <link rel="icon" href="<%= require('./assets/icon-dark.png') %>" type="image/png" media="(prefers-color-scheme: light)" />
    <link rel="apple-touch-icon" href="<%= require('./assets/mask-icon.png') %>" type="image/png" />
    <link rel="manifest" href="<%= require('./assets/manifest.webmanifest') %>" />
    <title>LED</title>
  </head>
  <body>
    <div id="root" class="w-100 h-100"></div>
  </body>
</html>
